/*[ COMPOSANT HEADER ]*/
/* ------------------------------------------------------------ */

header {
    position: relative;
    /* top: -64px; */
}

.header--video {
    background-color: var(--bleu-fonce);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
}

.btn--reserver {
    position: relative;
    top: rem;
    background-color: var(--noir);
    font-size: 32px;
    color: var(--or-fonce);
    border: 1px var(--or-fonce) solid;
    padding: 0.25rem 2rem;
    font-family: 'Asimilates';
}
