/*[ FOOTER INFO ]*/
/* ------------------------------------------------------------ */

.footer--info {
    border-top: 1px var(--blanc-pale) solid;
    border-bottom: 1px var(--blanc-pale) solid;
    padding: inherit;
    color: var(--blanc-pale);
    width: 85%;

}

.footer--info div {
    display: flex;
    justify-content: space-between;
}
.footer--info div div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
}