/*[ COMPOSANT LOGO FOOTER ]*/
/* ------------------------------------------------------------ */

.footer--logo {
    width: 160px;
    height: 96px;
    background-color: var(--blanc-pale);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--noir);
}