/*[ COMPOSANT LOGO HEADER ]*/
/* ------------------------------------------------------------ */
.header--logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96px;
    background-color: var(--blanc);
    color: var(--noir);
}