/*[ COMPOSANT NAV HEADER ]*/
/* ------------------------------------------------------------ */


.nav--header {
    position: sticky;
    background-color: var(--noir-fonce);
    display: flex;
    color: var(--blanc);
    padding: 16px;
    justify-content: space-between;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        font-size: 32px;
    }
}