/*[ COMPOSANT NAV MENU ]*/
/* ------------------------------------------------------------ */

.nav--menu {
    position: fixed;
    top: 0;
    height: 100vh;
    opacity: 0;
    /* On le change à 1 */
    width: 0;
    /* On le change à 100% */
    background-color: var(--noir-fonce);
    z-index: 6;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    float: left;
    outline: none;
    padding-bottom: 16px;
    overflow: scroll;
}


.nav--menu div {
    padding: 16px 0;
}


.nav--menu div,
.nav--menu ul {
    opacity: 0;
    /* On le change à 1 */
    transition: all 0.3s;
}

.fermer--bouton {
    opacity: 0;
    border-bottom: 1px var(--blanc-pale) solid;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
}

.fermer--bouton button img {
    width: 32px;
    height: 32px;
    fill: var(--blanc-pale);
}


.nav--menu--liste {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
    font-size: 1.5rem;
    font-family: 'Asimilates';

}

.nav--menu--liste li {
    justify-content: space-between;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--blanc-pale);

    &:first-child {
        color: var(--or);
        stroke: none;
    }

    img {
        height: 32px;
    }
}

.nav--menu--menu {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: 'Asimilates';
}

.nav--menu--menu button {
    background-image: url("../../assets/images/svg/placeholder.svg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    padding: 16px 0;
    text-align: left;
    color: var(--blanc-pale);
}

.nav--menu--menu button div {
    padding: 0 32px;
    background: rgba(23, 23, 23, 0.5);
}

.panneau--ferme,
.panneau--ferme * {
    z-index: -1;
}

.panneau--ouvert,
.panneau--ouvert * {
    z-index: 6;
}