@font-face {
    font-family: 'Crimson Text';
    src: url(../../assets/typos/Crimson_Text/CrimsonText-Regular.ttf);
}

@font-face {
    font-family: 'Aesthetic Beauty';
    src: url(../../assets/typos/Aesthetic\ Beauty\ CF.otf);
}