/*[ STRUCTURE GÉNÉRALE DE LA PAGE ]*/
/* ------------------------------------------------------------ */

.interface {
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 1;
    &>div {
        /* À améliorer */
        position: relative;
        top: 64px;
    }
}